main{
    display: grid;
    background-color: #3967db;
}
.cuadro__ace{
    width: 830px;
    height: 500px;
    background-color: #ed7411;
}
.cuadro__margen__ace{
    margin: 100px 100px 100px 100px;
}
.cuadro__padding__ace{
    padding: 140px 50px 50px 100px;
}