.cuadro__pro{
    width: 830px;
    height: 500px;
    background-color: #ed7411;
}
.cuadro__margen__pro{
    margin: 100px 100px 100px 100px;
}
.cuadro__padding__pro{
    padding: 50px 50px 50px 100px;
}