footer{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #ed7411;
    font-family: 'Public Sans', sans-serif;

}
.box__end{
    display: flex;
    font-size: 200%;
    padding-top: 3%;
    padding-bottom: 3%;
}