$primary: #ed7411;
$secondary: #3967db;
$black: #3967db;
$white: #3967db;


$font-principal: 'Public Sans', sans-serif;

$spacing-large: 6rem;
$spacing-medium: 2.5rem;
$spacing-small: 2rem;
$spacing-xsmall: 1rem;